/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

i {
  font-size: small;
  margin: 0px;
}

p {
  margin: 0px;
  margin-top: -5px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.flex-forecast {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border: black solid 2px;
  border-radius: 10px;
}

.weather-tile {
  position: relative;
  width: 150px;
  height: 250px;
  text-align: center;
}

.weather-tile > img {
  margin: 5px;
}

.weather-state-text {
  position: absolute;
  right: -75px;
  width: 150px;
  bottom: 0;
  left: 0;
}

.today {
  background-color: rgba(41,120,181,0.2);
  margin: -2px;
  border-radius: 10px;
}
